# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
src/lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

config_local.py

.DS_Store

# virtualenv
venv/

# pycharm
.idea/

# ros

workspace/devel